body, h1, h2, ul, li, p, dd, dt, dl{
    margin: 0;
    padding: 0;
}

body{
    background-color: #faf6ed;
    color: #222;
    display: grid;
    grid-template-columns: 1fr 6.5rem minmax(18.75rem, 50rem) 1fr;
}

.menu, footer{
    grid-column: 3 / 5;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #fb5;
}

.menu ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 0.625rem;
    padding: 0.625rem;
}

.menu li a, footer p{
    display: block;
    padding: 0.625rem;
    color: #222;
    text-decoration: none;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    font-size: .875rem;
    letter-spacing: .1rem;
}

img{
    display: block;
    max-width: 100%;
}

.grid{
    grid-column: 2 / 4;
    width: 100%;
    box-sizing: border-box;
    padding: 0.625rem;
    display: grid;
    grid-template-columns: 4.7rem 18.75rem 1fr;
    grid-gap: 1.25rem;
    margin-bottom: 4rem;
}

.titulo{
    font-family: 'Playfair Display SC', georgia;
    font-size: 6rem;
    line-height: 1;
    font-weight: 400;
    margin-bottom: 1rem;
    grid-column: 1 / 4;
}

.animais p, .faq-info dd{
    font-family: Helvetica, Arial;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.animais h2, .faq-info dt{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1rem;
    letter-spacing: .1rem;
    margin-bottom: 1rem;color: #e54;
    font-weight: bold;
}

.animais h2::before{
    content: " ";
    display: inline-block;
    width: 2.5rem;
    height: 0.625rem;
    margin-right: 0.625rem;
    background-color: #fb5;
}

.animais-lista{
    height: 23rem;
    overflow-y: scroll;
    grid-column: 2;
    overflow-x: hidden; /* tirar barra de largura */
}

.animais-lista img{
    cursor: pointer;
    transition: .3s;
}

.animais-lista img:hover{
    transform: scale(1.2);
}

.animais-lista::-webkit-scrollbar{
    width: 1.2rem;
}

.animais-lista::-webkit-scrollbar-thumb{
    background: #Fb5;
    border-left: 4px solid #faf6ed;
    border-right: 4px solid #faf6ed;
}

.animais-lista::-webkit-scrollbar-track{
    background: #faf6ed;
}

.animais-descricao{
    grid-column: 3;
}

.animais-descricao section{
    margin-bottom: 3rem;
}

.faq-info{
    grid-column: 2 / 4;
}

.faq-info dt::before, .dados li::before{
    content: " ";
    display: inline-block;
    width: 1.2rem;
    height: 0.625rem;
    margin-right: 0.625rem;
    background-color: #fb5;
}

.faq-info dd{
    margin-left: 1.825rem;
    margin-bottom: 2rem;
}

.faq-info dt{
    margin-bottom: 1.2rem;
}

footer p{
    padding: 1.25rem;
}

.mapa{
    grid-column: 2;
}

.dados{
    grid-column: 3;
}

.dados li{
    margin-bottom: 1rem;
    font-family: Helvetica, Arial;
    list-style: none;
}

.js .js-tabContent section{
    display: none;
}

.js .js-tabContent section.ativo{
    display: block;
    animation: show .5s forwards;
}


@keyframes show {
    from{
        opacity: 0;
        transform: translate3d(-30px, 0, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.js .js-accordion dd{
    display: none;
}

.js .js-accordion dt::after{
    content: "⮧";
    margin-left: 10px;
}

.js .js-accordion dt.ativo::after{
    content: "⮥";
}

.js .js-accordion dd.ativo{
    display: block;
    animation: slideDown .5s forwards;
}

@keyframes slideDown {
    from{
        opacity: 0;
        max-height: 0;
    }
    to{
        max-height: 150px;
        opacity: 1;
    }
}

@media(max-width: 700px){
    body{
        grid-template-columns: 1fr;
    }

    .menu, .grid, .copyright{
        grid-column: 1;
    }

    .grid{
        grid-template-columns: 100px 1fr;
        gap: 0.625rem;
    }

    .animais-lista{
        grid-column: 1;
    }

    .faq-lista, .dados, .mapa{
        grid-column: 1 / 3;
    }

    .grid h1{
        font-size: 3rem;
    }

    .menu{
        margin-top: 0;
    }

    .menu ul{
        justify-content: center;
    }

    .copyright{
        margin-bottom: 0;
    }
}